<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="testsocket.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="testsocket.Perspective"
            id="TestSocket.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="testsocket.ViewPart"
            id="TestSocket.view"
            name="Buddy List "
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="TestSocket.perspective">
         <view
               closeable="false"
               id="TestSocket.view"
               minimized="false"
               moveable="false"
               ratio="1.0f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="TestSocket.toolbar">
            <command
                  commandId="TestSocket.addFriend"
                  label="addFriend"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="testsocket.handler.AddFriendHandler"
            commandId="TestSocket.addFriend">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="TestSocket.addFriend"
            name="addFriend">
      </command>
   </extension>

</plugin>
